<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Pandabook!</h1>
             <p>View our hand-picked pandas from all over the world</p>
             <p>
                <a class="btn btn-primary btn-large" href="/pandabooks/new">Add New Panda</a>
             </p>
             <p>
                <form action="/pandabooks" method="GET" class="form-inline">
            		<div class="form-group">
            			<input type="text" name="search" placeholder="Pandabook search..." class="form-control">
            			<input type="submit" value="Search" class="btn btn-default">
            		</div>
                </form> 
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% pandabooks.forEach(function(pandabook){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= pandabook.image %>">
                   <div class="caption">
                       <h4><%= pandabook.name %></h4>
                   </div>
                   <p>
                       <a href="/pandabooks/<%= pandabook._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
